.placeList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  list-style: none;
  gap: 1rem;
  margin: 2rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.notFound {
  margin: 11rem auto;
}
