.placeItem {
  margin: 0.3rem 0;
  border: 1px solid rgb(87, 87, 87);
  background-color: #2b2b2b;
  display: flex;
  .content {
    padding: 0;
  }
  .info {
    padding: 1rem;
    text-align: left;
    h2,
    h3,
    p {
      margin: 0 0 0.5rem 0;
    }
    h3 {
      color: rgb(253, 227, 189);
    }
  }
  .image {
    height: 30rem;
    transition: 0.3s;
    width: 100%;
    margin-right: 1.5rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
    button,
    a {
      margin: 0.5rem;
    }
  }
  .modalContent {
    padding: 0;
  }
}
.modalActions {
  text-align: right;
}
.message {
  margin: 0.5rem;
  font-weight: 500;
}

.mapContainer {
  width: 100%;
  height: 25rem;
}

@media (max-width: 768px) {
  .placeItem {
    .image {
      height: 15rem;
      transition: 0.3s;
    }
  }
}
