.placeItem {
  margin: auto;
  border: 1px solid rgba(87, 87, 87, 0);
  background-color: #252836;
  display: flex;
  flex-direction: column;
  padding: 0.15rem;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem #00000035;
  height: 100%;

  .headerSection {
    display: flex;
    caret-color: transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-self: start;
    margin: 0.2rem;
    height: 3.5rem;
  }
  .headerLeftSub {
    margin-left: 0.4rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
  }
  .headerLeft {
    display: flex;
    align-self: start;
    flex-direction: row;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .info {
    padding: 0.2rem;
    text-align: left;
    caret-color: transparent;

    .dateTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .title {
      color: #d4ddf1;
      text-transform: capitalize;
      font-size: 1.563rem;
      font-weight: 600;
      letter-spacing: 0.03rem;
    }
    .date {
      font-size: 0.8rem;
      text-align: right;
      opacity: 0.8;
      align-self: center;
    }
  }

  .image {
    display: inline-block;
    cursor: pointer;
    height: 100%;
    margin: auto;
    object-fit: contain;
    background-color: #000000;
    box-shadow: 0rem 0rem 0.2rem 0.1rem #0000006c;
  }

  .actions {
    padding: 0.5rem;
    text-align: center;

    button,
    a {
      margin: 0.1rem;
    }
  }

  .modalContent {
    padding: 0;
  }
}
.modalActions {
  text-align: right;
}
.message {
  margin: 0.5rem;
  font-weight: 500;
}

.mapContainer {
  width: 100%;
  height: 25rem;
}

@media (max-width: 768px) {
  .placeItem {
    .images {
      transition: 0.3s;
    }
  }
}
