.placeItem {
  margin: auto;
  border: 1px solid rgb(87, 87, 87);
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  .headerSection {
    display: flex;
    flex-direction: row;
    align-self: start;
    margin: 0.2rem;
  }

  .headerSub {
    margin-left: 0.4rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
  }

  .content {
    padding: 0;
    width: 100%;
  }
  .info {
    padding: 0.5rem;
    padding-left: 0.7rem;
    text-align: left;
    h2,
    h3,
    p {
      margin: 0 0 0.5rem 0;
    }
    h3 {
      color: rgb(253, 227, 189);
      text-transform: capitalize;
    }
  }
  .imageContainer {
    cursor: pointer;
    width: 100%;
    img {
      background-color: #000000;
      width: 100%;
      height: auto;
      max-height: 70vh;
      object-fit: contain;
    }
  }

  .actions {
    padding: 0.5rem;
    text-align: center;
    border-top: 1px solid #ccc;
    button,
    a {
      margin: 0.1rem;
    }
  }
  .modalContent {
    padding: 0;
  }
}
.modalActions {
  text-align: right;
}
.message {
  margin: 0.5rem;
  font-weight: 500;
}

.mapContainer {
  width: 100%;
  height: 25rem;
}

@media (max-width: 768px) {
  .placeItem {
    .image {
      transition: 0.3s;
    }
  }
}
