.wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 45rem;
  padding: 1rem;
  margin: 15vh auto;
  background-color: #252836;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem #0000000a;
  h2 {
    margin-bottom: 1rem;
  }
}

.form {
  width: 100%;
}

.modalActions {
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
}

.modalContent {
  padding: 0.4rem;
  margin: 0.5rem 0rem;
  font-weight: 500;
  overflow-y: auto;
  max-height: 60vh;
}
