.wrapper {
  margin: auto;
  caret-color: transparent;

  h3 {
    text-align: center;
  }
}

.content {
  width: 60vw;
  max-width: 30rem;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
  border-bottom: 0.01px solid rgb(167, 167, 167);
}

.content:hover {
  background-color: rgba(255, 255, 255, 0.144);
  transition: all 0.5s;
}

.innerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.info {
  align-self: center;
  flex: 1;
  overflow: hidden;
  h3 {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .content {
    width: 87vw;
    max-width: unset;
  }
}
