.wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: #2b2b2b;
  h2 {
    margin-bottom: 1rem;
  }
}

.form {
  flex: 1;
  padding: 0.2rem;
}

.gap {
  width: 1rem;
  color: #2b2b2b;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.onlyImage {
  width: 13rem;
  height: 13rem;
  margin: auto;
}
.imageContainerRight {
  width: 100%;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .form {
    button {
      margin-bottom: 0.3rem;
    }
  }
  .imageContainer {
    display: inline-block;
    width: 100%;
  }

  .imageContainerRight {
    margin-left: 0rem;
  }
}
