.wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 45rem;
  padding: 1rem;
  margin: 12vh auto;
  background-color: #252836;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem #00000015;
  h2 {
    margin-bottom: 1rem;
  }
}

.form {
  flex: 1;
  padding: 0.2rem;
}

.gap {
  opacity: 0;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.onlyImage {
  width: 13rem;
  height: 13rem;
  margin: auto;
}
.imageContainerRight {
  width: 100%;
  margin-left: 0.5rem;
  align-self: flex-end;
}

.modalActions {
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
}

.modalContent {
  padding: 0.4rem;
  margin: 0.5rem 0rem;
  font-weight: 500;
  overflow-y: auto;
  max-height: 60vh;
}

.pwReset {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  font-style: italic;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form {
    button {
      margin-bottom: 0.3rem;
    }
  }
  .imageContainer {
    display: inline-block;
    width: 100%;
  }

  .imageContainerRight {
    margin-left: 0rem;
  }
}
