.mainheader {
  width: 100%;
  height: 4rem;
  display: flex;
  caret-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  background: #202020;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
  z-index: 5;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 982px;
}

@media (min-width: 768px) {
  .mainheader {
    justify-content: center;
  }
}
