.menuBtn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;

  cursor: pointer;
  span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }
}

.title {
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
  a {
    letter-spacing: 0.15rem;
    text-decoration: none;
    color: white;
  }
  color: white;
}

.drawerNav {
  height: 100%;
}

@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}
