.navLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  li {
    margin: 1rem;
    font-weight: 500;
  }
  a {
    border: 1px solid transparent;
    color: #f3f3f3;
    text-decoration: none;
    padding: 0.5rem;
    transition: all 0.5s;
    border-radius: 8px;
  }
  a:hover,
  a:active {
    background-color: rgb(59, 59, 59);
    transition: all 0.5s;
    border-radius: 8px;
  }
  button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  button:focus {
    outline: none;
  }
  button:hover,
  button:active {
    background: #292929;
    color: white;
  }
}

@media (min-width: 768px) {
  .navLinks {
    flex-direction: row;
    li {
      margin: 0 0.5rem;
    }
    a {
      color: white;
      text-decoration: none;
    }
    button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    button:hover,
    button:active {
      background: #f8df00;
      color: #292929;
    }
  }
}
