.modal {
  z-index: 100;
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  background: #252836;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.modalHeader {
  width: 100%;
  text-transform: capitalize;
  padding: 0.4rem 0.2rem;
  background: #1f1d2b;
  color: rgb(202, 202, 202);
  // border: 1px solid rgb(87, 87, 87);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  h2 {
    margin: 0.3rem;
  }
}

.modalContent {
  margin: 0.5rem 0rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modalEnter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modalEnterActive {
  transform: translateY(0);
  opacity: 1;
  transition: 200ms;
}

.modalExit {
  transform: translateY(0);
  opacity: 1;
}

.modalExitActive {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
