$ogColor: #fde399;

.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #82b6c4;
  border-radius: 4px;
  background: #82b6c4;
  color: rgb(37, 37, 37);
  cursor: pointer;

  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #9bcddb;
  border-color: #82b6c4;
}

.buttonInverse {
  background: transparent;
  color: #ffffff;
}

.buttonInverse:hover,
.buttonInverse:active {
  color: white;
  background: rgba(7, 48, 59, 0.733);
}

.buttonDanger {
  background: #4d0101;
  border-color: #4d0101;
  color: white;
}

.buttonDanger:hover,
.buttonDanger:active {
  background: #a81f1f;
  border-color: #ad2d2d;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.buttonSmall {
  font-size: 0.8rem;
}

.buttonBig {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  // .button {
  // }
}
