.message {
  padding-left: 0.2rem;
}

.commentWrapper {
  padding-left: 0.2rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: auto;
  transition: 1s;
}

.modalActions {
  text-align: right;
}

.modalLink {
  text-align: right;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.modalLink:hover {
  color: #ddac58;
  transition: 0.4s;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: start;
  gap: 0.5rem;
  font-size: 0.9rem;
  animation: fade 0.3s linear;
  max-width: 98%;
  .creator {
    font-weight: 700;
  }
  .content {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    align-self: center;
  }
  .delete {
    font-weight: 300;
    font-style: italic;
    color: rgba(160, 160, 160, 0.657);
    cursor: pointer;
  }
}

.modalCommentsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: start;
  gap: 0.5rem;
  max-width: 80vw;
  padding: 0.2rem;
  padding-bottom: 0.8rem;
  .creator {
    justify-self: flex-start;
    font-weight: 700;
  }
  .content {
    font-size: 0.8rem;
    margin-top: 0.1rem;

    width: 60%;
  }
  .delete {
    font-weight: 300;
    font-style: italic;
    color: rgba(160, 160, 160, 0.657);
    cursor: pointer;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.commentsFormWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  .input {
    flex-grow: 2;
  }
  .submit {
    font-weight: 700;
    letter-spacing: 0.1rem;
    background: #23222f;
    border-color: rgba(0, 0, 0, 0.657);
    border-width: 0.1rem 0.1rem 0.1rem 0rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    color: rgb(104, 113, 248);
    transition: 0.2s;
    font: inherit;
    padding: 0.15rem;
    width: 70px;
    cursor: pointer;
  }

  .submit:disabled {
    color: rgba(104, 114, 248, 0.376);
  }
}

.formControl {
  position: relative;

  input,
  textarea {
    width: 100%;
    font: inherit;
    display: block;
    padding: 0.5rem 0.5rem;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }
  label {
    display: block;
    font-weight: bold;
  }
}

.formControl.invalid {
  label {
    color: rgb(0, 0, 0);
  }
  p {
    color: rgb(71, 71, 71);
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    text-align: start;
    font-weight: 500;
  }
  input,
  textarea {
    background: #23222f;
    border-color: rgba(0, 0, 0, 0.657);
    border-width: 0.1rem 0rem 0.1rem 0.1rem;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    color: white;
  }
}

.formControl.valid {
  label {
    color: rgb(51, 51, 51);
  }
  p {
    color: rgba(197, 197, 197, 0.349);
    position: absolute;
    text-align: start;
    top: 0.6rem;
    right: 1rem;
    font-weight: 500;
  }
  input,
  textarea {
    color: white;
    border-color: rgba(0, 0, 0, 0.657);
    border-width: 0.1rem 0rem 0.1rem 0.1rem;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    background: #23222f;
  }
}

@media (max-width: 768px) {
  .modalCommentsWrapper {
    .creator {
      font-weight: 700;
      font-size: 0.8rem;
    }
  }
}
