.imageUpload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageUploadPreview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.imageUpload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formControl {
  margin: 0.1rem 0;
  position: relative;

  input,
  textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    display: block;
    padding: 0.15rem 0.15rem;
    margin-bottom: 1rem;
  }
  input:focus,
  textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
