$backgroundshade: #121212;
$baackgroundshade2: #2b2b2b;
$backgroundshade3: #555555;
$hovershade: rgb(59, 59, 59);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $backgroundshade;
  color: rgb(238, 238, 238);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin-top: 5rem;
}

header {
  nav {
    display: none;
  }
}

ul {
  list-style: none;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}
.slide-in-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

@media (min-width: 768px) {
  header {
    nav {
      display: block;
    }
  }
}
